<div class='news_group'>
  <div class='news_block'>
    <h2>
      <%= @source.name %>
      <span class='links'>
        <%= render_source_rating_form( @source_preference, @source) %>
      </span>
    </h2>
    <h4>
      <%= render_category_links( @categories, source_path( @source ) ) %>
    </h4>
    <% @stories.each do |story| %>
      <div class='cluster'>
        <div class='headline'><%= render_headline_preview( story ) %></div>
      </div>
    <% end %>
    <% if @stories.empty? %>
      <em><%= t( 'stories.not.found' ) %></em>
    <% end %>
  </div>
</div>
<%= render_pagination( @stories ) %>