<div class='news_group'>
  <div class='news_block'>
    <h2>
      <%= @source.name %>

        <%= render_source_rating_form( @source_preference, @source) %>

    </h2>
    <% if @categories.any? %>
    <div class ='result_filter'>
      <%= render_category_links( @categories, source_path( @source ) ) %>
    </div>
    <% end %>

<div class = "results_module"></div>

    <% @stories.each do |story| %>
      <div class='cluster'>
        <div class='headline'><%= render_headline_preview( story ) %></div>
      </div>
    <% end %>
    <% if @stories.empty? %>
      <em><%= t( 'stories.not.found' ) %></em>
    <% end %>
  </div>
</div>
<%= render_pagination( @stories ) %>