<div class='news_group'>
  <div class='news_block'>
    <h2><span class="page_label"><%= t('source.what.label') %></h2></span>
    <div class= 'about'>
      <%= t('source.rating.howto') %><br/><br/>
      <ol class='numbered'>
        <li><%= t 'source.rating.step_1' %></li>
        <li><%= t 'source.rating.step_2' %></li>
      </ol>
      <br/>
      <%= t 'source.rating.what' %><br/><br/>
      <%= t 'source.rating.values' %><br/><br/>
      <%= t 'source.rating.personalized_results' %><br/><br/>
      <%= t 'source.rating.not_rated_info' %><br/><br/>
      <%= t 'source.rating.rated_sources' %>
    </div>
  </div>
</div>