<div class='news_group'>
  <div class='news_block'>
    <h2>
      <%= t("cluster.all.stories") -%>
      <span class='links'>
      (<%= links_to_keywords( *(@cluster.top_keywords) ).join(' - ') %>)
      </span>
      <span class='links'>
      ( <%= render_filter_links( @cluster, cluster_path( @cluster ) ) -%> )
      </span>
    </h2>
    <% @cluster.stories.each do |story| %>
    <div class='story'>
    <div class='headline'>
      <%= render_story_preview( story ) %>
    </div>
    </div>
    <% end %>
  </div>
</div>
<%= render_pagination( @cluster ) %>