<div class='news_group'>
  <div class='news_block'>
    <h2>
      <%= t('navigation.main.my_topics' )%>: <%= @topic.name -%>
    </h2>
    <% @topic.stories.each do |story| %>
      <div class='story'>
        <% if story.cluster && story.cluster.stories.any? %>
          <%= render_cluster_preview( story.cluster, story ) %>
        <% else %>
          <%= render_story_search_preview( story ) %>
        <% end %>
      </div>
    <% end %>
    <% if @topic.stories.empty? %>
      <em><%= t( 'stories.not.found' ) %></em>
    <% end %>
  </div>
</div>
<%= render_pagination( @topic ) %>