<% form_url = topic_path( @topic ) %>
<% form_method = :get %>
<div class='news_group'>
  <div class='news_block'>
	<% if @topic.stories.empty? %>
      <h2><span><%= t('stories.not.found_for_query', :query => "<a>'#{ truncate( @topic.name, 20 ) }'</a>" )%></span></h2>
	<%else%>
    <h2>
      <span class="page_label"><%= t('navigation.main.my_topic' )%>: <a><%= @topic.name -%></a></span>
      
      <span class='links'><%= render_search_preference_form( :sort_criteria, :form_url => form_url, :form_method => form_method  ) %></span>
	</h2>
		<div class='result_filter'><%= render_filter_links( @topic.facets, form_url, form_method ) %></div>
    
<br>
    <% @topic.stories.each do |story| %>
      <div class='cluster'>
        <% if story.cluster && story.cluster.stories.any? %>
          <%= render_cluster_preview( story.cluster, story ) %>
        <% else %>
          <%= render_story_search_preview( story ) %>
        <% end %>
      </div>
    <% end %>

    <% end %>
  </div>
</div>
<%= render_pagination( @topic ) %>