<div class='news_group'>
  <div class='news_block'>
    <h2>
      <%= @author.name %>

    
 
      <div class='rater'>
	    <%= render_author_subscription( @author_preference, @author ) %>
        <%= render_author_rating_form( @author_preference, @author ) %>
      </div>
    </h2>
    <% @stories.each do |story| %>
      <div class='cluster'>
        <div class='headline'><%= render_headline_preview( story, :without => [ :authors ] ) %></div>
      </div>
    <% end %>
    <% if @stories.empty? %>
      <em><%= t( 'stories.not.found' ) %></em>
    <% end %>
  </div>
</div>
<%= render_pagination( @stories ) %>
