

<div class="footer_module" class="grid_6"></div>

  <%= link_to t( 'navigation.bottom.about' ), about_path %> -
<%= link_to 'Blog', 'http://jurnalo.typepad.com/' %> -
<%= link_to 'Twitter', 'http://twitter.com/jurnalo' %> -
  <%= link_to t( 'navigation.bottom.privacy' ), privacy_path %> -
  <%= link_to t( 'navigation.bottom.imprint' ), imprint_path %> -
  <%= link_to t( 'navigation.bottom.contact' ), account_path( :action => 'contact', :jar => logged_in? ? 1 : 0 ) %>
<br>
  <span class= "grey">&copy; 2010</span>
<ul class='nav_block'>
	<br>
<iframe src="http://www.facebook.com/plugins/like.php?href=www.jurnalo.com&amp;layout=standard&amp;show_faces=true&amp;width=780&amp;action=like&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:780px; height:80px;" allowTransparency="true"></iframe>
</ul>
