<div class="footer_module" class="grid_6"></div>

  <%= link_to t( 'navigation.bottom.about' ) %> -
  <%= link_to t( 'navigation.top.help' )  %> -
  <%= link_to t( 'navigation.bottom.privacy' ) %> -
  <%= link_to t( 'navigation.bottom.imprint' ) %> -
  <%= link_to t( 'navigation.bottom.feedback' ) %>
<br>
  <span class= "grey">&copy; 2010</span>