<% content_for :user_actions do -%>
  <% if logged_in? -%>
    | <%= link_to( t( 'navigation.top.logout', :name => current_user.name ), logout_path ) %>
  <% else -%>
    | <%= link_to( t( 'navigation.top.login' ), login_path ) -%>
  <% end %>
<% end %>
<div id="logo" class="grid_3">
  <%= link_to( image_tag( '/images/logo.gif' ), root_path ) %>
</div>
<div id="top_navigation" class="grid_13 ta_right">
  <%= link_to( t( 'navigation.top.reading_list' ) ) -%> |
  <%= link_to( t( 'navigation.top.help' ) ) -%> |
  <%= link_to( t( 'navigation.top.settings' ), account_path ) -%>
  <%= yield :user_actions -%>
</div>