<% navigation_links = current_user.navigation_links( news_edition ) %>

<% # Topic Block %>

<% topics_block = capture( navigation_links ) do | link_hash | %>
<% unless link_hash[ :topics ].nil? %>
<ul class='nav_block'>
  <% link = link_hash[:my_topics] %>
  <% mouse_over( :dialog ) do | dialogEventClass, dialogItemClass | %>
    <li class='<%= dialogEventClass -%>'>
      <%= link_to_navigation_item( link.name, link.to_url_hash ) %>
      <span class='navDialogBox <%= dialogItemClass -%>'>
        <%= link_to image_tag('up.gif'),  up_topic_path('my') %>
        <%= link_to image_tag('down.gif'), down_topic_path('my') %>
      </span>
    </li>
  <% end %>
  <% link_hash[ :topics ].each do |link| %>
    <% mouse_over( :dialog ) do | dialogEventClass, dialogItemClass| %>
      <li class='<%= dialogEventClass -%>'>
        <%= link_to_navigation_item( link.base.name_with_count, link.to_url_hash ) %>
        <span class='navDialogBox <%= dialogItemClass -%>'>           
          <%= link_to image_tag('up.gif'),  up_topic_path( link.id ) %>
          <%= link_to image_tag('down.gif'), down_topic_path( link.id ) %>
          <%= link_to image_tag('close.gif'), topic_path( link.id ), :method => :delete, :confirm => 'Are you sure?' %>
        </span>
      </li>
    <% end %>
  <% end %>
  <% link = link_hash[:add_topic] %> 
  <li class="grey"><%= link_to_navigation_item( link.name, link.to_url_hash ) %></li>
</ul>
<% end %>
<% end %>

<% # Section Block %>

<% sections_block = capture( navigation_links ) do | link_hash | %>
<% unless link_hash[ :sections ].nil? %>
<ul class='nav_block'>
  <% mouse_over( :dialog ) do | dialogEventClass, dialogItemClass | %>
    <li class='<%= dialogEventClass %>'>
      <span class="nav_sections_label"><%= t('navigation.main.sections') %></span>
      <span class='navDialogBox <%= dialogItemClass -%>'>
        <%= link_to image_tag('up.gif'),  up_section_path( 'all' ) %>
        <%= link_to image_tag('down.gif'), down_section_path( 'all' ) %>
      </span>
    </li>
  <% end %>
  <% link_hash[ :sections ].each do |link| %>
    <% mouse_over( :dialog ) do | dialogEventClass, dialogItemClass| %>
      <li class='<%= dialogEventClass -%>'>
        <%= link_to_navigation_item( link.name, link.to_url_hash ) %>
        <span class='navDialogBox <%= dialogItemClass %>'>       
          <%= link_to image_tag('up.gif'), up_section_path( link.id ) %>
          <%= link_to image_tag('down.gif'), down_section_path( link.id ) %>
		  <%= link_to image_tag('close.gif'), section_path( link.id ), :method => :delete, :confirm => 'Are you sure?' %>
        </span>
      </li>
    <% end %>
  <% end %>

  <% link = link_hash[:add_section] %>
  <li class="grey">
    <span id='add_section_link'><%= link_to_function( link.name, 'Element.show("add_section_form");Element.hide("add_section_link")' ) %></span>
    <span id='add_section_form' style='display:none;'>
      <%= render :partial => 'sections/form' %>
      <%= link_to_function( 'Hide', 'Element.show("add_section_link");Element.hide("add_section_form")' ) %>
    </span>
  </li>
</ul>

<ul class='nav_block'>
	<br>
<script type="text/javascript">
	var flattr_url = 'http://www.jurnalo.com';
	var flattr_btn='compact';
</script>
<script src="http://api.flattr.com/button/load.js" type="text/javascript"></script>
</ul>
<% end %>
<% end %>



<% # Top Stories Block %>

<% top_stories_block = capture( navigation_links[:top_stories] ) do | link | %>
<% if link %>
<ul class='nav_block'>
  <% mouse_over( :dialog ) do | dialogEventClass, dialogItemClass | %>
    <li class='<%= dialogEventClass -%>'>
      <%= link_to_navigation_item( link.name, link.to_url_hash ) %>
      <span class='navDialogBox <%= dialogItemClass -%>'>
        <%= link_to image_tag('up.gif'), up_section_path( 'top' ) %>
        <%= link_to image_tag('down.gif'), down_section_path( 'top' ) %>
      </span>
    </li>
  <% end %>
</ul>
<% end %>
<% end %>

<% # My Authors Block %>

<% my_authors_block = capture( navigation_links[:my_authors] ) do |link| %>
<% if link %>
<ul class='nav_block'>
  <% name = link.base > 0 ? "#{link.name} (#{link.base})" : link.name %>
  <% mouse_over( :dialog ) do | dialogEventClass, dialogItemClass | %>
    <li class='<%= dialogEventClass %>'>
      <%= link_to_navigation_item( name, link.to_url_hash ) %>
      <span class='navDialogBox <%= dialogItemClass -%>'>
        <%= link_to image_tag('up.gif'), up_authors_path %>
        <%= link_to image_tag('down.gif'), down_authors_path %>
      </span>
    </li>
  <% end %>
</ul>
<% end %>
<% end %>

<% navigation_links.keys.each do |key| %>
  <%= eval("#{key}_block") rescue nil %>
<% end %>