<% content_for :custom_javascript do %>
  <%= observe_field( "edition", :function => "$('change_edition').submit();" ) %>
<% end %>
<div id="search_bar" class="grid_8 suffix_4">
  <% form_tag( stories_path, :id => 'search_form', :method => :get ) do -%>
    <input type="text" title="Search News" autocomplete="off" tabindex="1" name="q" maxlength="2048" size="30" class="searchField" value="<%= params[:q] -%>" />
    <input type="submit" value="<%= t( 'search.simple' ) -%>" tabindex="2"/>
    <div class='search-box-links'>
      <%= link_to( t( 'search.advance' ), advanced_stories_path ) %>
    </div>
  <% end -%>
</div>
<div id="edition_bar" class="grid_4">
  <% form_tag( root_path, :id => 'change_edition', :method => :get ) do -%>
    <%= link_to 'Home', root_path %> &nbsp;
    <%= select_tag( 'edition', options_for_select( edition_options, session[:edition] ), :title => t( 'edition.other' ) ) %>
  <% end -%>
</div>
