<div class='news_group'>
  <div class='news_block'>
    <h2>
      <span><%= t('search.advance') -%></span>
    </h2>
    <div>
      <% form_tag search_results_stories_path do %>
        <fieldset>
          <legend>Find results</legend>
          <div>
            <span class='grid_5'>with at least one of the words</span>
            <span><%= text_field_tag(:q) %></span>
          </div>
          <div>
            <span class='grid_5'>with all the words</span>
            <span><%= text_field_tag(:qa) %></span>
          </div>
          <div>
            <span class='grid_5'>with the exact phrase</span>
            <span><%= text_field_tag(:qe) %></span>
          </div>
          <div>
            <span class='grid_5'>without the words</span>
            <span><%= text_field_tag(:qn) %></span>
          </div>
          <br/>
          <div>
            <span class='grid_5'>Sort Criteria</span>
            <span><%= select_tag( 'sc', options_for_select(  preference_options(:sort_criteria), sort_criteria ) ) %></span>
          </div>
          <div>
            <span class='grid_5'>Time Span</span>
            <span><%= select_tag(:ts, options_for_select( preference_options(:time_span), time_span ) ) %></span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Filters</legend>
          <div>
            <span class='grid_5'>Region</span>
            <span><%= select_tag(:rid, options_for_select( preference_options(:region, :include_blank => true), news_edition.region_id ) ) %></span>
          </div>
          <div>
            <span class='grid_5'>Source</span>
            <span><%= text_field_tag(:source, nil, :disabled => true ) %></span>
          </div>
          <div>
            <span class='grid_5'>Author</span>
            <span><%= text_field_tag(:author, nil, :disabled => true ) %></span>
          </div>
          <div>
            <span class='grid_5'>Category</span>
            <span><%= select_tag(:cid, options_for_select( preference_options(:category, :include_blank => true ), params[:cid].to_i ) ) %></span>
          </div>
          <div>
            <span class='grid_5'>Subscription Type</span>
            <span><%= select_tag( 'st', options_for_select(  preference_options(:subscription_type), subscription_type ) ) %></span>
          </div>
        </fieldset>
        <fieldset>
          <legend>Preferences</legend>
          <div>
            <span class='grid_5'>Video preference</span>
            <span><%= select_tag(:vp, options_for_select( preference_options(:video_pref), video_pref ) ) %></span>
          </div>
          <div>
            <span class='grid_5'>Opinion preference</span>
            <span><%= select_tag(:op, options_for_select( preference_options(:opinion_pref), opinion_pref ) ) %></span>
          </div>
          <div>
            <span class='grid_5'>Blog preference</span>
            <span><%= select_tag(:bp, options_for_select( preference_options(:blog_pref), blog_pref ) ) %></span>
          </div>
        </fieldset>
        <%= submit_tag t('search.simple') %>
      <% end %>
    </div>
  </div>
</div>