<% form_url = @advanced ? search_results_stories_path : stories_path %>
<% form_method = @advanced ? :post : :get %>
<div class='news_group'>
  <div class='news_block'>
    <h2>
      <span><%= t('search.page.title', :query => "<em>'#{ truncate( @query, 20 ) }'</em>" ) -%></span>
      <span class='links'><%= render_filter_links( @stories.facets, stories_path( :q => params[:q] ) ) %></span>
      <span class='links'><%= render_search_preference_form( :sort_criteria, :subscription_type, :form_url => form_url, :form_method => form_method ) %></span>
      <span class='links'><%= link_to t('search.topic.add'), '#' %></span>
    </h2>
    <% @stories.each do |story| %>
      <div class='story'>
        <% if story.cluster && story.cluster.stories.any? %>
          <%= render_cluster_preview( story.cluster, story ) %>
        <% else %>
          <%= render_story_search_preview( story ) %>
        <% end %>
      </div>
    <% end %>
    <% if @stories.empty? %>
      <em><%= t( 'stories.not.found' ) %></em>
    <% end %>
  </div>
</div>
<%= render_search_pagination( @stories, :form_url => form_url, :form_method => form_method ) %>