<div class='news_block'>
<h2><span class="page_label"><%= t( 'jurnalo.power.label' ) %></span></h2>
<div class = "about">
  <b><%= t('jurnalo.power.slogan') %></b>
  <br/><br/>
  <%= t('jurnalo.power.gives') %> <br/><br/>
plus:
<br/><br/>
  <%= t('jurnalo.power.topics') %> <br/>
  <%= t('jurnalo.power.authors') %> <br/>
  <%= t('jurnalo.power.sources' ) %> <br/></br><br>
  <%= t('jurnalo.power.cancel') %> <br/>
  
  <br/><br/>

</div>
</div>