<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title><%= yield :page_title %></title>
<%= stylesheet_link_tag 'default' %>
</head>
<body>
<div id="header" class="container_16 clearfix">
  <%= render :partial => 'shared/header' %>
</div>
<div id="search" class="container_16 clearfix">
  <%= render :partial => 'shared/search' %>
</div>
<div id="content" class="container_16 clearfix">
  <div id="#main" class="grid_12 ">
    <%= yield %>
  </div>
  <div id="#navigation" class="grid_4 ">
    <%= render :partial => 'shared/navigation' %>
  </div>
</div>
<div id="footer" class="container_16 clearfix">
  <%= render :partial => 'shared/footer' %>
</div>
</body>
</html>